
.login-screen {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Left side */
.left-side {
  background-color: black;
  color: white;
}

/* Right side */
.right-side {
  background-color: white;
  color: black;
}

/* Logo text */
.logo-text {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 8px;
}
