#hoverBtn {
  background-color: #000; // black background
  color: #fff;            // white text
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;

  &.main-btn {
    &:hover {
      background-color: #9c9c9c; // lighter black / gray on hover
    }

    &:active {
      background-color: #000000; // darker on click
    }

    &:focus {
      outline: none;
    }
  }
}
